:root {
  --main-color: #f3f3f3;
  --color-text: rgba(0, 0, 0, 0.666);
  --color-text-light: rgba(0, 0, 0, 0.366);
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--main-color);
}

button,
input {
  font: inherit;
}

.mainBtn {
  background-color: var(--color-primary);
  padding: 0.9rem 2.1rem;
  border-radius: 50px;
  color: White;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}
.mainBtn:hover {
  background-color: var(--color-primary-darker);
}

.mainBtn:focus-visible {
  outline: 3px solid var(--color-primary);
  outline-offset: 3px;
}

#header {
  width: 100%;
  padding: 0 5.5rem;
  display: flex;
  justify-content: center;

  #nav {
    width: min(100%, 1400px);
    height: 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #nav-logo {
      height: 2.8rem;
    }

    #nav-links {
      display: flex;
      gap: 2.5rem;
      list-style: none;

      .nav-link {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.662);
        font-size: 1.1rem;
        font-weight: 500;
        border-radius: 50px;
      }

      .nav-link:focus-visible {
        outline: 3px solid grey;
        outline-offset: 10px;
      }
    }
  }
}

#main {
  width: 100%;
  padding: 0 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlighted {
  position: relative;
}

.highlighted::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.7;
  background-image: var(--gradient-primary);
  transform: scale(1.07, 1.05) skewX(-15deg);
}

.section_1 {
  width: 100%;
  height: calc(100vh - 5.6rem);
  max-width: 1200px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;

  .sec1-part1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    #sec1-title {
      font-size: clamp(2.5rem, 3.8vw, 4.5rem);
      color: var(--color-text);
    }

    #sec1-description {
      font-size: clamp(1rem, 1.5vw, 1.8rem);
      font-weight: 100;
      color: var(--color-text);
    }

    .sec1-btn {
      font-size: 1.1rem;
      color: var(--color-primary);
      width: fit-content;
      padding-bottom: 0.3rem;
      border: none;
      border-bottom: 1px solid currentColor;
      cursor: pointer;
    }

    .sec1-btn:focus-visible {
      outline: 3px solid var(--color-primary);
      outline-offset: 10px;
    }
  }

  .sec1-part2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    #sec1-img {
      height: auto;
      width: 80%;
    }
  }
}

.hidden {
  display: none;
}

.modal,
.overlay {
  transition: all ease-in-out 0.3s;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.333);
  backdrop-filter: blur(5px);
  z-index: 2;
  opacity: 0;
  inset: 0;
}

.modal {
  padding: 3rem 4rem;
  position: fixed;
  z-index: 3;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: clamp(440px, 50vw, 550px);
  background-color: var(--main-color);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  opacity: 0;

  #closeModalBtn {
    position: absolute;
    right: 1%;
    top: 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--main-color);
    font-size: 2rem;
    font-family:
      "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    cursor: pointer;
  }

  #modal-heading {
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.662);
    margin-bottom: 3rem;
  }

  #modal-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin: 0 1.5rem;
    align-items: center;

    .modal-label {
      font-size: 1.1rem;
    }

    .modal-input {
      font-size: 1.1rem;
      border: none;
      padding: 0.6rem;
      border-radius: 10px;
      height: fit-content;
      width: 100%;
    }

    .modal-input:focus-visible {
      outline: 2px solid rgba(0, 0, 0, 0.21);
      outline-offset: 3px;
    }

    #modal-btn {
      width: fit-content;
      grid-column: 2/3;
      font-size: 1rem;
      margin-left: -30px;
    }
  }
}

#section_2 {
  width: 100%;
  padding: 9rem 0;
  color: var(--color-text);
  border-bottom: 2px solid grey;
}

#section_2 .sec2_container {
  width: min(100%, 1200px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  place-items: center;
  margin-inline: auto;
}

#section_2 .sec2_container .sec2_header {
  grid-column: span 2;

  #sec2_title {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
  }

  .sec2_description {
    font-size: 2.8rem;
    font-weight: 400;
  }
}

#section_2 .sec2_container .sec2_images {
  width: 100%;
  filter: blur(20px);
}

#section_2 .sec2_container .sec2_cards {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.4rem;

  .sec2_cards_icons {
    img {
      width: 3.2rem;
    }
  }

  .sec2_cards_title {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .sec2_cards_description {
    color: var(--color-text-light);
    line-height: 1.7;
  }
}

#section_2 .sec2_container .grow_card {
  grid-column: 1;
  grid-row: 3;
}

#section_2 .sec2_container .grow_img {
  grid-column: 2;
}

#section_3 {
  width: 100%;
  padding: 9rem 0;
  color: var(--color-text);
  border-bottom: 2px solid grey;
}

#section_3 .sec3_container {
  width: min(100%, 1200px);
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 7rem;
  margin-inline: auto;
}

#section_3 .sec3_container .sec3_header {
  #sec3_title {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
  }

  .sec3_description {
    font-size: 2.8rem;
    font-weight: 400;
  }
}

#section_3 .sec3_container .sec3_operations {
  width: min(100%, 1000px);
  background-color: white;
  padding: 5rem;
  position: relative;

  .operations_tab_container {
    position: absolute;
    top: -1.59rem;
    left: 50%;
    transform: translateX(-50%);
    width: 77%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 2rem;
    margin-inline: auto;

    .op_tabs {
      font-size: 1.1rem;
      padding: 0.8rem 2.4rem;
      border-radius: 50px;
      background-color: var(--color-primary);
      text-wrap: nowrap;
    }

    .op_tab_1 {
      background-color: var(--color-secondary);
    }

    .op_tab_3 {
      background-color: var(--color-tertiary);
    }
  }

  .operations_content {
    display: none;
  }

  .operations_content_active {
    display: grid;
    grid-template-columns: 10% 90%;
    place-items: center;
    column-gap: 2.2rem;

    .op_content_imgs {
      width: 4rem;
    }

    .op_content_title {
      font-size: 1.6rem;
      font-weight: 500;
      justify-self: start;
    }

    .op_content_description {
      grid-column: 2/3;
      font-size: 1.11rem;
      color: var(--color-text-light);
      line-height: 1.7;
      width: fit-content;
    }
  }
}

#section_4 {
  width: 100%;
  padding: 9rem 0;
  color: var(--color-text);
  border-bottom: 2px solid grey;
}

#section_4 .sec4_container {
  width: min(100%, 1200px);
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 7rem;
  margin-inline: auto;
}

#section_4 .sec4_container .sec4_header {
  #sec4_title {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
  }

  .sec4_description {
    font-size: 2.8rem;
    font-weight: 500;
  }
}

#section_4 .sec4_container .sec4_slider {
  width: min(100%, 1000px);
  height: 500px;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  position: relative;
}

.sec4_slider_slides {
  position: absolute;
  width: 65%;

  .testimonial {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .testimonial_title {
      font-size: 1.5rem;
      font-weight: 500;
      position: relative;
    }

    .testimonial_title::before {
      content: ' " ';
      font-size: 8rem;
      color: var(--color-primary);
      position: absolute;
      top: -3rem;
      left: -3.9rem;
    }

    .testimonial_description {
      font-size: 1.11rem;
      color: var(--color-text-light);
      line-height: 1.7;
      width: fit-content;
    }

    .testimonial_author {
      display: grid;
      grid-template-columns: 5rem 1fr;
      /* gap: 1rem; */
      align-items: center;
      width: fit-content;

      .author_img {
        width: 4rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        grid-row: 1/3;
      }

      .author_name {
        font-size: 1.1rem;
        font-weight: 300;
      }

      .author_location {
        font-size: 0.9rem;
        font-weight: 200;
        grid-column: 2/3;
      }
    }
  }
}

.sec4_slider_btns {
  position: absolute;
  top: 50%;
  background-color: white;
  padding: 1.2rem 1.4rem;
  border-radius: 50%;

  img {
    width: 2rem;
  }
}

.left_btn {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}

.right_btn {
  right: 0;
  transform: translateY(-50%);
}
