:root {
  --main-color: #f3f3f3;
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--main-color);
}

.mainBtn {
  background-color: var(--color-primary);
  padding: 0.9rem 2.1rem;
  border-radius: 50px;
  color: black;
  transition: background-color 0.3s ease;
  border: none;
}
.mainBtn:hover {
  background-color: var(--color-primary-darker);
}

header {
  width: 100%;
  padding: 0 5.5rem;

  nav {
    width: 100%;
    height: 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 2.8rem;
    }

    ul {
      display: flex;
      gap: 2.5rem;
      list-style: none;

      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.662);
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
  }
}

main {
  width: 100%;
  padding: 0 5.5rem;
}

.highlighted {
  position: relative;
}

.highlighted::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.7;
  background-image: var(--gradient-primary);
  transform: scale(1.07, 1.05) skewX(-15deg);
}

.section_1 {
  width: 100%;
  padding: 0 4rem;
  height: calc(100vh - 9rem);
  display: flex;
  justify-content: center;
  align-items: center;

  .part1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h1 {
      font-size: 4vw;
      color: rgba(0, 0, 0, 0.662);
    }

    h4 {
      font-size: 1.7vw;
      font-weight: 100;
    }

    .sec1-btn {
      font-size: 1.1rem;
      color: var(--color-primary);
      width: fit-content;
      padding-bottom: 0.3rem;
      border: none;
      border-bottom: 1px solid currentColor;
    }
  }

  .part2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 24vw;
    }
  }
}

.hidden{
  display: none;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.164);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all ease-in-out 0.3s;
}

.modal {
  padding: 3rem 4rem;
  /* padding-bottom: 3.5rem; */
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  max-width: 550px;
  background-color: var(--main-color);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 0.3s;

  .closeModalBtn{
    position: absolute;
    right: 1%;
    top: 0;
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--main-color);
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  h2 {
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.662);
    margin-bottom: 3rem;
  }

  form{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    margin: 0 1.5rem;

    label{
      font-size: 1.2rem;
    }

    input{
      font-size: 1.1rem;
      border: none;
      padding: 0.6rem;
      border-radius: 10px;
      height: fit-content;
    }

    input:focus{
      outline: none;
    }

    button{
      width: fit-content;
      grid-column: 2/3;
      font-size: 1rem;
    }
  }
}
