* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

input::placeholder {
  text-align: center;
}

input {
  font-size: 0.9rem;
}

header {
  width: 100%;
}

button {
  width: 2.5rem;
  padding: 0.25rem 0.7rem;
  border-radius: 15px;
  border: 1px solid rgb(117, 117, 117);
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.3s;

  img {
    width: 15px;
    margin: 0 auto;
  }
}

button:active {
  transform: scale(0.90);
}

input {
  width: 4rem;
  padding: 0.2rem 0.8rem;
  border-radius: 15px;
  border: 1px solid rgb(117, 117, 117);
  background-color: #fafafa;
}

nav {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navSec1 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .navSec2 {
    display: flex;
    align-items: center;
    img {
      width: 45px;
    }
  }

  .navSec3 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: center;

  .items-container {
    width: 70%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-row-gap: 1rem;
    grid-template-areas:
      "a a a a a"
      "b b b c c"
      "b b b d d"
      "b b b e e"
      "f f f g g";
  }

  .balancePart {
    grid-area: a;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 0;

    h2{
        font-weight: 400;
        margin-bottom: 0.3rem;
    }

    h1{
        font-size: 2.9rem;
        font-weight: lighter;
    }
  }
  .transactions {
    grid-area: b;
    margin-right: 2rem;
    background-color:#eaeaea;
    border-radius: 12px;
    overflow: auto;
    height: 480px;

    .line{
      width: 100%;
      height: 1px;
      background-color: rgb(175, 175, 175);
    }
    
    .trans{
      padding: 1.5rem 2rem;
      background-color: #fafafa;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .showStatus{
        display: flex;
        align-items: center;
        gap: 1.4rem;
        color: grey;

        .status{
          padding: 0.4rem 1rem;
          border-radius: 20px;
          color: white;
          font-size: 0.7rem;
        }

        .status_Deposit{
          background-color: #0BDA51;
        }

        .status_Withdraw{
          background-color: red;
        }

        .status_date{
          font-size: 0.8rem;
        }
      }
    }
  }
  .transfer {
    background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
    grid-area: c;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 1.7rem 2rem;

    h2 {
      font-size: 1.2rem;
    }

    .transInputs {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      position: relative;

      input {
        width: 100%;
        opacity: 70%;
        border: none;
        border-radius: 7px;
      }

      label {
        position: absolute;
        bottom: -100%;
        left: 10%;
        font-size: 0.9rem;
      }

      label:nth-child(4) {
        left: 60%;
      }

      button {
        background-color: white;
        padding: 0.3rem 0.9rem;
        border-radius: 7px;
        justify-content: center;
        border: none;
      }
    }
  }
  .loan {
    grid-area: d;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 1.7rem 2rem;

    h2 {
      font-size: 1.2rem;
    }

    .loanInputs {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      position: relative;

      input {
        width: 40%;
        opacity: 70%;
        border: none;
        border-radius: 7px;
      }

      label {
        position: absolute;
        bottom: -100%;
        left: 10%;
        font-size: 0.9rem;
      }

      label:nth-child(4) {
        left: 60%;
      }

      button {
        background-color: white;
        padding: 0.3rem 0.9rem;
        border-radius: 7px;
        justify-content: center;
        border: none;
      }
    }
  }

  .close {
    grid-area: e;
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:space-around;
    gap: 0.5rem;
    padding: 1.7rem 2rem;

    h2 {
      font-size: 1.2rem;
    }

    .closeInputs {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      position: relative;

      input {
        width: 100%;
        opacity: 70%;
        border: none;
        border-radius: 7px;
      }

      label {
        position: absolute;
        bottom: -100%;
        left: 10%;
        font-size: 0.9rem;
      }

      label:nth-child(4) {
        left: 55%;
      }

      button {
        background-color: white;
        padding: 0.3rem 0.9rem;
        border-radius: 7px;
        justify-content: center;
        border: none;
      }
    }
  }

  .summary{
    grid-area: f;
    display: flex;
    justify-content: space-between;
    padding-right: 2.2rem;
    font-size: 0.7rem;

    span{
      font-size: 1.2rem;
      font-weight: lighter;
      color:#0BDA51;
    }

    .amtstatus:nth-child(2) span{
      color: red;
    }


    button{
      width: fit-content;
      display: flex;
      justify-content: center;
      background-color:none;
      border: none;

      img{
        width: 10px;
      }
    }
  }
  .logoutTime{
    grid-area: g;
    padding-top: 0.7rem;
    text-align: right;
  }
}
